.header {
  background-color: #399cbd;
  /* background-color: #db3f59; */
  /* background-color: #1c1c1c; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.right {
  display: flex;
}

/* You can add more styles as needed */
